.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.typewriter{
  color: white;
  text-align: center;
  
}

.card{
  position: static;
}

.yourName {
  font-size: 3rem;
  color: white;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #B3E8E5 }
}


#contact {
  background-color: #EEEEEE;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#education {
  background-color: #EEEEEE;
  text-align: center;
  padding: 100px;
}

#Navbar {
  background-color: #EEEEEE;
  font-weight: bold;
  position: fixed;
  width: 100%;
}

#profile {
  background-color: #34B3F1;
  text-align: center;
  padding: 100px;
}

.carousel{
  text-align: center;
  background-color: #34B3F1;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#Skills{
  text-align: center;
  background-color: #34B3F1;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#skills {
  background-color: #effffd;
  text-align: center;
  padding: 100px;
}




.date {
  font-size: 1.5rem;
}

.yourCollege {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 10px;
}

.yourCollege {
  display: inline-block;
  position: relative;
  color: #B3E8E5;
}

.yourCollege:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.yourCollege:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-top: 10px;
}

.profile {
  font-size: 2.0rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 20px;
}

.pricing-column {
  padding: 3% 2%;
}

.skil {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 70px;

  align-self: center;
  text-decoration: b;
}



.press-logo{
  width: 15%;
  length: 15px;
  margin: 20px 20px 50px;
}

.s{
    padding-top: 5px;
}

.carousel-item{
  padding: 7% 15%;
}


.testimonial-image{
  
  
}
.carousel-item{
  padding: 5% 15%;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
